.auth_page {
    background: #a0a0a0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth_fragment {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #656565;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px 0px #0000008f;
}

.auth_fragment__title {
    font-size: 20px;
    font-weight: bold;
}

.auth_fragment__inps {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth_fragment__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}