.transfer_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 0 #0000008f;
}

.transfer_block__sum {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}

.card_section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.card_section__user_name {
    font-size: 16px;
    font-weight: bold;
}